{% include 'page-title' %}

<div class="page-main">
  <div class="article">
    <div class="article__preview">
      <span class="date--hot">{{ article.created_at | date: "%d.%m.%Y" }}</span>
      <img src="{{ article.image.original_url }}" alt="{{ article.title }}">
    </div>
    <span class="article__title">{{ article.title }}</span>
    <span class="date--slim">
      <i class="fa  fa-calendar-o"></i>
      {{ article.created_at | date: "%B, %d, %Y" }}
    </span>
    <div class="article__textset">
      {{ article.content }}
    </div>
    {% if article.related_products.size > 0 %}
      <h2 class="article__related-products-title">Сопутствующие товары</h2>
      <div class="article__related-products  catalog">
        <div class="article__related-products-list  catalog__list  view-tile">
          {% for product in article.related_products limit:4 %}
            {% include 'card' %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="article__footer">
      <span class="article__social">
        Поделиться:{% include 'share' %}
      </span>
      <div class="article__controls">
        {% assign current_found = false %}
        {% assign done = false %}
        {% for a in blog.articles %}
            {% if current_found and done == false %}
                {% assign next_article = a %}
                {% assign done = true %}
            {% endif %}
            {% unless done %}
                {% if a.id == article.id %}
                    {% assign current_found = true %}
                {% else %}
                    {% assign prev_article = a %}
                {% endif %}
            {% endunless %}
        {% endfor %}
        {% if prev_article %}
            <a class="back" href="{{ prev_article.url }}" title="{{ prev_article.title | escape }}">
              <span class="back__btn">
                <i class="fa fa-angle-left"></i>
              </span>
              Предыдущая новость
            </a>
        {% endif %}
        {% if next_article %}
            <a class="back  back--right" href="{{ next_article.url }}" title="{{ next_article.title | escape }}">
              Следующая новость
              <span class="back__btn  back__btn--right">
                <i class="fa fa-angle-right"></i>
              </span>
            </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>