{% include 'page-title' %}

<div class="page-main">
  <div class="article">
    <div class="article__preview">
      <span class="date--hot">{{ article.created_at | date: "%d.%m.%Y" }}</span>
      <img src="{{ article.image.original_url }}" alt="{{ article.title }}">
    </div>
    <span class="article__title">{{ article.title }}</span>
    <span class="date--slim">{{ article.created_at | date: "%B, %d, %Y" }}</span>
    <div class="article__textset">
      {{ article.content }}
    </div>
    <div class="article__footer">
      <span class="article__social">
        Поделиться:{% include 'social' %}
      </span>
      <div class="article__controls">
        <div class="article__control-group">
          <a class="article__control  article__control--prev"></a>
          <a class="article__control-disc">Предыдущая новость</a>
        </div>
        <div class="article__control-group">
          <a class="article__control-disc">Следующая новость</a>
          <a class="article__control  article__control--next"></a>
        </div>
      </div>
    </div>
  </div>
</div>