{% include 'page-title' %}

<div class="page-main">
  <div class="basket">
    <span class="basket__counter">
      У Вас 
      {% if cart.items_count == 0 %}
        <span class="basket__counter-value">ни одного товара</span>
      {% else %}
        {% if cart.items_count == 1 %}
          <span class="basket__counter-value">{{ cart.items_count }} товар</span>
        {% else %}
          <span class="basket__counter-value">{{ cart.items_count }} товара</span>
        {% endif %}
      {% endif %}
       в корзине
    </span>
    <div class="basket__list">
      <div class="basket__settings">
        <span class="basket__setting-item">Название</span>
        <span class="basket__setting-item">Цена</span>
        <span class="basket__setting-item">Колличество</span>
        <span class="basket__setting-item">Сумма</span>
      </div>
      {% for item in cart.items limit: 100 %}
        {% include 'basket-item' %}
      {% endfor %}
    </div>
    <div class="basket__controls">
      <div class="basket__fieldset">
        <a href="{{ collections.wadge-250-gr.url }}" class="basket__back-btn" title="{{ collections.wadge-250-gr.title }}"></a>
        <a class="basket__action-disc" href="{{ collections.wadge-250-gr.url }}" title="{{ collections.wadge-250-gr.title }}">Продолжить покупки</a>
      </div>
      <div class="basket__targets">
        <a class="link  basket__sub-target" href="#">Купить в 1 клик</a>
        <a class="basket__target" href="#">Оформить заявку</a>
      </div>
      <div class="basket__fieldset">
        <span class="basket__action-disc">Общая сумма:  </span>
        <span class="basket__final-price">{{ cart.items_price | money }}</span>
      </div>
    </div>
  </div>
</div>