{% include 'page-title' %}


<div class="page-main">
  <div class="product">
    <div class="product__preview">
      <div class="slider">
        <div class="slider__main">
          <div class="slider__controls  slider__controls--left"></div>
          <div class="slider__main-container">
            <img src="{{ product.first_image.original_url }}" alt="image.title" width="260">
          </div>
          <div class="slider__controls  slider__controls--right"></div>
        </div>
        <ul class="slider__demos">
<!--
          <li class="slider__demos-item"></li>
          <li class="slider__demos-item"></li>
          <li class="slider__demos-item"></li>
          <li class="slider__demos-item"></li>
-->
          {% for image in product.images limit: 4 %}
            <li class="slider__demos-item">
              <img src="{{ image.compact_url }}" alt="{{ image.title }}" width="70">
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="product__content">
      <div class="product__fieldset">
        <span class="product__title">{{ product.title }}</span>
        <p class="product__disc">{{ product.description }}</p>
      </div>
      <div class="product__fieldset">
        <span class="product__price">{{ product.price | money }}</span>
        <ul class="product__price-levels">
          <li class="product__price-floor">850 RUB: 1-9 шт.</li>
          <li class="product__price-floor">800 RUB: 10-99 шт.</li>
          <li class="product__price-floor">690 RUB: более 100 шт.</li>
        </ul>
      </div>
      <div class="product__fieldset">
        <div class="product__controls">
          {% include 'counter' %}
          <button class="product__target" type="submit" data-item-add>В корзину</button>
        </div>
        <span class="product__social">
          Поделиться:{% include 'social' %}
        </span>
      </div>
    </div>
  </div>
  
  {% include 'text-field' %}
  
</div>