<div class="
   card  view-tile 
   {% unless product.available %}
     {% unless settings.product_not_available_hide %} 
       card--not-avialable 
     {% endunless %}
   {% endunless %}
 ">
  
  {% include 'card-status' %}
  
  <div class="card__preview  view-tile">
    {% if product.images.size > 0 %}
      <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
        <img src="{{ product.images.first.large_url }}" alt="{{ product.images.first.title | strip_html }}"
             title="{{ product.images.first.title | strip_html }}" width="100%">
      </a>
    {% else %}
      <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
        <img src="{{ 'no_image.png' | asset_url }}" alt="{{ product.title | strip_html }}" title="{{ product.title | strip_html }}" width="100%">
      </a>
    {% endif %}
  </div>
  <div class="card__content  view-tile  {% if product.available %}{% else %}card__content--not-avialable{% endif %}">
    <span class="{% if product.available != true %}js-product-name{% endif %}  card__name  view-tile">{{ product.title }}</span>
    <p class="card__descr  view-tile">{{ product.short_description }}</p>
    <div class="card__mob-prices  view-tile">
      {% if product.old_price %}
        <span class="card__mob-price">{{ product.price | money }}</span>
        <span class="card__mob-price  card__mob-price--old">{{ product.old_price | money }}</span>
      {% else %}
        <span class="card__mob-price">{{ product.price | money }}</span>
      {% endif %}
    </div>
    <form class="card__controls  view-tile  {% if product.available %}{% else %}card__controls--not-avialable{% endif %}" method="post" action="{{ cart_url }}" data-product-id="{{ product.id }}">
      {% if product.show_variants? %}
        <select name="variant_id" data-product-variants>
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
          {% endfor %}
        </select>
      {% else %}
        <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
      {% endif %}
      {% if product.available %}   
        {% include 'counter' %}
        <button class="js-add-to-basket  card__target  view-tile" type="submit" data-item-add>В корзину</button>
      {% else %}
        <button class="card__preorder-target" id="mod-fast-call-link" type="button">Предзаказ</button>
      <div><a class="link  link-gray" href="{{ product.url }}" title="{{ product.title | strip_html }}">Подробнее</a></div>
      {% endif %}
    </form>
  </div>
</div>