<div class="
   card 
   {% unless product.available %}
     {% unless settings.product_not_available_hide %} 
       card--not-avialable 
     {% endunless %}
   {% endunless %}
 ">
  
  {% include 'card-status' %}
  
  <div class="card__preview">
    {% if product.fields.taste.value != '' %}
      <a class="card__taste  
        {% case product.fields.taste.value %}
          {% when 'Зеленое яблоко' %}
            card__taste--green-aple
          {% when 'Красное яблоко' %}
            card__taste--red-aple
          {% when 'Апельсин' %}
            card__taste--orange                          
        {% endcase %}
      " href="{{ product.url }}" title="{{ product.title | strip_html }}"></a>
    {% endif %}
    {% if product.images.size > 0 %}
      <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
        <img src="{{ product.images.first.large_url }}" alt="{{ product.images.first.title | strip_html }}"
             title="{{ product.images.first.title | strip_html }}" width="100%">
      </a>
    {% else %}
      <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
        <img src="{{ 'no_image.png' | asset_url }}" alt="{{ product.title | strip_html }}" title="{{ product.title | strip_html }}" width="100%">
      </a>
    {% endif %}
  </div>
  <div class="card__content">
    <span class="card__name">{{ product.title }}</span>
    <p class="card__disc">{{ product.short_description }}</p>
    <div class="card__mob-prices">
      {% if product.old_price %}
        <span class="card__mob-price">{{ product.price | money }}</span>
        <span class="card__mob-price  card__mob-price--old">{{ product.old_price | money }}</span>
      {% else %}
        <span class="card__mob-price">{{ product.price | money }}</span>
      {% endif %}
    </div>
    <form class="card__controls" method="post" action="{{ cart_url }}" data-product-id="{{ product.id }}">
      {% if product.show_variants? %}
        <select name="variant_id" data-product-variants>
          {% for variant in product.variants %}
            <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
          {% endfor %}
        </select>
      {% else %}
        <input type="hidden" name="variant_id" value="{{product.variants.first.id}}" >
      {% endif %}
      {% if product.available %}   
        {% include 'counter' %}
        <button class="card__target" type="submit" data-item-add>В корзину</button>
      {% else %}
        <a class="link  card__link" href="{{ product.url }}" title="{{ product.title }}">Нет в наличии</a>
      {% endif %}
    </form>
  </div>
</div>