<div class="
   card 
   {% unless product.available %}
     {% unless settings.product_not_available_hide %} 
       card--not-avialable 
     {% endunless %}
   {% endunless %}
 ">
  
  {% include 'card-status' %}
  
  <div class="card__preview">
    <div class="card__taste"></div>
    {% if product.images.size > 0 %}
      <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
        <img src="{{ product.images.first.large_url }}" alt="{{ product.images.first.title | strip_html }}"
             title="{{ product.images.first.title | strip_html }}" width="100%">
      </a>
    {% else %}
      <a href="{{ product.url }}" title="{{ product.title | strip_html }}">
        <img src="{{ 'no_image.png' | asset_url }}" alt="{{ product.title | strip_html }}"
             title="{{ product.title | strip_html }}" width="100%">
      </a>
    {% endif %}
  </div>
  <span class="card__name">{{ product.title }}</span>
  <p class="card__disc">{{ product.short_description }}</p>
  <div class="card__controls">
    {% if product.available %}   
      {% include 'counter' %}
      <button class="card__target" type="submit" data-item-add>В корзину</button>
    {% else %}
      <a class="card__link" href="{{ product.url }}" title="{{ product.title }}">Нет в наличии</a>
    {% endif %}
  </div>
</div>


{% unless product.available %}
  {% unless settings.product_not_available_hide %}
  {% endunless %}
{% endunless %}