<!--<div class="features">
  <div class="features__container">
    <div class="features__item  features__item--plant">
      <b class="features__title">{{blocks.reason-1.field-1}}</b>
      <p class="features__description">{{blocks.reason-1.field-2}}</p>
    </div>
    <div class="features__item  features__item--clear">
      <b class="features__title">{{blocks.reason-2.field-1}}</b>
      <p class="features__description">{{blocks.reason-2.field-2}}</p>
    </div>
  </div>
  <div class="features__container">
    <div class="features__item  features__item--strong">
      <b class="features__title">{{blocks.reason-3.field-1}}</b>
      <p class="features__description">{{blocks.reason-3.field-2}}</p>
    </div>
    <div class="features__item  features__item--taste">
      <b class="features__title">{{blocks.reason-4.field-1}}</b>
      <p class="features__description">{{blocks.reason-4.field-2}}</p>
    </div>
  </div>
</div>-->

<div class="features">
  <!--<div class="features__container">-->
    <div class="features__item  features__item--plant">
      <div class="features__icon-wrap">
        <div class="features__icon"></div>
      </div>
      <b class="features__title">{{blocks.reason-1.field-1}}</b>
      <p class="features__description">{{blocks.reason-1.field-2}}</p>
    </div>
    <div class="features__item  features__item--clear">
      <div class="features__icon-wrap">
        <div class="features__icon"></div>
      </div>
      <b class="features__title">{{blocks.reason-2.field-1}}</b>
      <p class="features__description">{{blocks.reason-2.field-2}}</p>
    </div>
  <!--</div>-->
  <!--<div class="features__container">-->
    <div class="features__item  features__item--strong">
      <div class="features__icon-wrap">
        <div class="features__icon"></div>
      </div>
      <b class="features__title">{{blocks.reason-3.field-1}}</b>
      <p class="features__description">{{blocks.reason-3.field-2}}</p>
    </div>
    <div class="features__item  features__item--taste">
      <div class="features__icon-wrap">
        <div class="features__icon"></div>
      </div>
      <b class="features__title">{{blocks.reason-4.field-1}}</b>
      <p class="features__description">{{blocks.reason-4.field-2}}</p>
    </div>
  <!--</div>-->
</div>