<header class="page-header">
  <div class="page-header__wrapper">
    <section class="page-header__top-section">
      <span class="page-header__promo">Несомненный лидер кальянных табаков WADGE</span>
      <form class="page-header__search" action="" method="get">
        <input class="page-header__search-input" id="main-search" type="text" placeholder="Поиск по сайту...">
      </form>
      
      {% include 'social' %}
      
    </section>
    <section class="page-header__bottom-section">
      <div class="page-header__contacts">
        <span class="page-header__phone">+7(926)542-15-74</span>
        <span class="page-header__email">info@wadge.ru</span>
      </div>
      <nav class="page-header__nav">
        <div class="page-header__nav-list">
          <a class="page-header__nav-item--home" href="#">Главная</a>
          {% for link in linklists.header-menu-left.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
          <a class="page-header__logo" href="#"><img class="page-header__logo-image" src="img/logo.png" alt="WADGE"></a>
        <div class="page-header__nav-list">
          {% for link in linklists.header-menu-right.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </nav>
      <div class="page-header__basket">
        <a class="page-header__basket-link">
          <span class="page-header__basket-counter">{{ cart.items_count }}</span>
        </a>
        <span class="page-header__basket-text  page-header__basket-text--red">{{ cart.items_price | money}}</span>
<!--        <span class="page-header__basket-text">{{ money }}</span>-->
      </div>
    </section>
  </div>
</header>