<footer class="page-footer">
  <div class="page-footer__wrapper">
    <div class="page-footer__subscribe">
      <b class="page-footer__subscribe-title">Будь в курсе всех событий</b>
      <span class="page-footer__subscribe-disc">Не пропускай последних новостей - присоединяйся к нам в сообщество Вконтакте</span>
      
      {% include 'subscribe' %}
      
    </div>
    <div class="page-footer__main">
      <div class="page-footer__main-col">
        <a class="page-footer__logo" href="#"><img src="{{ 'logo.png' | file_url }}" alt="WADGE"></a>
        <span class="page-footer__promo">Кальян с табаком WADGE – удовольствие без границ. Широкая линейка ароматной палитры и уникальных миксов.</span>
      </div>
      <div class="page-footer__main-col  page-footer__blog">
        {% for article in blogs.test.articles limit: 1 %}
          <h3 class="page-footer__col-title">Последние новости</h3>
          {{ article.preview }}
          <a class="page-footer__blog-link" href="{{ blogs.test.url }}">Все новости ></a>
        {% endfor %}
      </div>
      <div class="page-footer__main-col  page-footer__menu">
        <h3 class="page-footer__col-title">Навигация по сайту</h3>
        <ul class="page-footer__menu-list">
          {% for link in linklists.footer-nav.links limit:5 %}
            <li class="page-footer__menu-item"><a class="page-footer__menu-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="page-footer__main-col">
        <h3 class="page-footer__col-title">Мы в соц сетях</h3>
        
        {% include 'social' %}
        
        <div class="page-footer__subscribe--slim">
          <b class="page-footer__subscribe-title--slim">Хотите получать полезные новости?</b>
          
          {% include 'subscribe' %}
          
        </div>
      </div>
    </div>
    <span class="page-footer__copyright">© Wadge.com, 2017</span>
  </div>
</footer>