<header class="page-header">
  <div class="page-header__wrapper">
    <section class="js-sticky-header  page-header__top-section" id="sticky-header">
      <div class="page-header__top-section-wrap">
        <div class="page-header__mini-user-block">
          <div class="sidebar-trigger">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </div>
          {% include 'basket-icon' %}
          {% include 'user' %}
        </div>
        {% include 'logo' %}
        {% include 'search' %}
        {% include 'social' %}
      </div>
    </section>
    <section class="page-header__bottom-section">
      <div class="page-header__contacts">
        <span class="page-header__phone">{{ blocks.contacts.phone-1 }}</span>
        <span class="page-header__email">{{ blocks.contacts.email-1 }}</span>        
      </div>
      <nav class="page-header__nav">
        <div class="page-header__nav-list">
          <a class="page-header__nav-item  page-header__nav-item-reviews  page-header__nav-item-reviews--left" href="/product/otzyvy" title="Отзывы">Отзывы</a>
          <a class="page-header__nav-item  page-header__nav-item--home" href="/"><i class="fa fa-home" aria-hidden="true"></i>Главная</a>
          {% for link in linklists.header-menu-left.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        {% include 'logo' %}
        <div class="page-header__nav-list">
          {% for link in linklists.header-menu-right.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
          <a class="page-header__nav-item  page-header__nav-item-reviews  page-header__nav-item-reviews--right" href="/product/otzyvy" title="Отзывы">Отзывы</a>
        </div>
      </nav>
    </section>
  </div>
</header>