{% case template %}
  {% when 'collection' %}
  <div class="page-title  page-title--collection">
    <div class="page-title__wrapper">
      <h1 class="page-title__title">Табачная карта</h1>
      <span class="page-title__disc">Широкая линейка ароматной палитры и уникальных миксов</span>
      <div class="page-title__controls">
        <p class="page-title__breadcrumbs">
          <a class="page-title__breadcrumbs-item" href="/">
            Главная
            <i class="fa  fa-angle-right" aria-hidden="true"></i>
          </a>
          <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Каталог</a>
        </p>
        <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
      </div>
    </div>
  </div>
  {% when 'search' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <h1 class="page-title__title">Результат поиска "{% if search.query != empty %}{{ search.query }}{% endif %}"</h1>
        <span class="page-title__disc">Широкая линейка ароматной палитры и уникальных миксов</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-left" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item" href="{{ collections.wadge-250-gr.url }}">
              Каталог
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Результат поиска "{% if search.query != empty %}{{ search.query }}{% endif %}"</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'product' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">Табак WADGE</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item" href="{{ collections.wadge-250-gr.url }}">
              Каталог
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">{{ product.title }}</a>
          </p>
          <a class="page-title__back-link" href="{{ collections.wadge-250-gr.url }}"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'cart' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">Корзина</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Корзина</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'blog' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">{{ blog.title }}</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">
              {{ blog.title }}
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'article' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">Детали новости</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item" href="{{ blog.url }}">
              {{ blog.title }}
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">{{ article.title }}</a>
          </p>
          <a class="page-title__back-link" href="{{ blog.url }}"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'page.about-us' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">О нас</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item" href="{{ blogs.news.url }}">
              {{ blogs.news.title }}
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">О нас</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'page.contact-us' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">О нас</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Контакты</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'page.representatives' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">Представители</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item" href="/page/contacts">
              Контакты
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Представители</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'product.reviews' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          <a class="js-open-form  index-target  index-target--flex" href="#reviews-popup">
            <span class="index-target__text">Ваш отзыв</span>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </div>
        <h1 class="page-title__title">Отзывы</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item" href="{{ collections.wadge-250-gr.url }}">
              Каталог
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Отзывы</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
  {% when 'account.orders' %}
    <div class="page-title">
      <div class="page-title__wrapper">
        <div class="index-target__wrap">
          {% include 'index-target' %}
        </div>
        <h1 class="page-title__title">Личный кабинет</h1>
        <span class="page-title__disc">Уникальная рецептура WADGE опережает время!</span>
        <div class="page-title__controls">
          <p class="page-title__breadcrumbs">
            <a class="page-title__breadcrumbs-item" href="/">
              Главная
              <i class="fa  fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="page-title__breadcrumbs-item  page-title__breadcrumbs-item--current">Личный кабинет</a>
          </p>
          <a class="page-title__back-link" href="/"><i class="fa  fa-angle-left" aria-hidden="true"></i>Предыдущая страница</a>
        </div>
      </div>
    </div>
{% endcase %}