<header class="page-header">
  <div class="page-header__wrapper">
    <section class="page-header__top-section">
      <span class="page-header__promo">Несомненный лидер кальянных табаков WADGE</span>
      <form class="page-header__search" action="" method="get">
        <div class="page-header__search-input-wrap">
          <input class="page-header__search-input" id="main-search" type="text" placeholder="Поиск по сайту...">
        </div>
      </form>
      
      {% include 'social' %}
      
    </section>
    <section class="page-header__bottom-section">
      <div class="page-header__contacts">
        <span class="page-header__phone">+7(926)542-15-74</span>
        <span class="page-header__email">info@wadge.ru</span>
      </div>
      <nav class="page-header__nav">
        <div class="page-header__nav-list">
          <a class="page-header__nav-item  page-header__nav-item--home" href="/">Главная</a>
          {% for link in linklists.header-menu-left.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
          <a class="page-header__logo" {% if template != 'index' %}href="/"{% endif %}><img class="page-header__logo-image" src="{{ 'logo.png' | file_url }}" alt="WADGE"></a>
        <div class="page-header__nav-list">
          {% for link in linklists.header-menu-right.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </nav>
      <div class="page-header__basket">
        <a class="page-header__basket-link" href="{{ cart_url }}" title="Корзина">
          <span class="page-header__basket-counter  {% if cart.items_count == 0 %} page-header__basket-counter--empty {% endif %}">{{ cart.items_count }}</span>
        </a>
        <span class="page-header__basket-text  page-header__basket-text--red">{{ cart.items_price | money}}</span>
<!--        <span class="page-header__basket-text">{{ money }}</span>-->
      </div>
    </section>
  </div>
</header>