<header class="page-header">
  <div class="page-header__wrapper">
    <section class="js-sticky-header  page-header__top-section" id="sticky-header">
      <div class="page-header__top-section-wrap">
        <span class="page-header__phone  page-header__phone--top-section">+7(926)542-15-74</span>
        <span class="page-header__promo">Несомненный лидер кальянных табаков WADGE</span>
        <form class="page-header__search" action="/search" method="get">
          <input type="hidden" name="lang" value="{{ language.locale }}">
          <div class="page-header__search-input-wrap">
            <input class="page-header__search-input" id="search-widget-input" type="text" placeholder="Поиск по сайту..." name="q" value="{% if search.query != empty %}{{ search.query }}{% endif %}" data-search-field>
            <i class="fa fa-search" aria-hidden="true"></i>
          </div>
        </form>
        {% include 'social' %}
      </div>
    </section>
    <section class="page-header__bottom-section">
      <div class="page-header__contacts">
        <span class="page-header__phone">+7(926)542-15-74</span>
      </div>
      <nav class="page-header__nav">
        <div class="page-header__nav-list">
          <a class="page-header__nav-item  page-header__nav-item--home" href="/"><i class="fa fa-home" aria-hidden="true"></i>Главная</a>
          {% for link in linklists.header-menu-left.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
          <a class="page-header__logo" {% if template != 'index' %}href="/"{% endif %}>
            <img src="{{ 'logo.png' | file_url }}" alt="wadge" width="100%" height="100%">
          </a>
        <div class="page-header__nav-list">
          {% for link in linklists.header-menu-right.links limit:2 %}
            <a class="page-header__nav-item" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      </nav>
      <div class="js-shopcart-area  page-header__basket">
        <a class="page-header__basket-link" href="{{ cart_url }}" title="Корзина">
<!--          <i class="fa fa-shopping-basket" aria-hidden="true"></i>-->
          <span class="js-shopcart-amount  page-header__basket-counter  page-header__basket-counter--filled">{{ cart.items_count }}</span>
        </a>
        <span class="js-shopcart-total-summ  page-header__basket-text  page-header__basket-text--red">{{ cart.items_price | money}}</span>
<!--        <span class="page-header__basket-text">{{ money }}</span>-->
      </div>
    </section>
  </div>
</header>