<footer class="page-footer">
  <div class="page-footer__flex-wrapper">
    <div class="page-footer__wrapper">
      <div class="page-footer__subscribe">
        <b class="page-footer__subscribe-title">Будь в курсе всех событий</b>
        <span class="page-footer__subscribe-disc">Не пропускай последних новостей - присоединяйся к нам в сообщество Вконтакте</span>
        <a class="link  link--white"  href="https://vk.com/wadge_tobacco">vk.com/wadge_tobacco</a>
      </div>
    </div>
  </div>
  <div class="page-footer__flex-wrapper">
    <div class="page-footer__wrapper">
      <div class="page-footer__main">
        <div class="page-footer__main-col  page-footer__brand">
          <a class="page-footer__logo" href="#"><img src="{{ 'logo.png' | file_url }}" alt="WADGE"></a>
          <span class="page-footer__promo">
            <span class="page-footer__promo--short">Кальян с табаком WADGE – удовольствие без границ.</span>
            <span class="page-footer__promo--extend">Широкая линейка ароматной палитры и уникальных миксов.</span></span>
        </div>
        <div class="page-footer__main-col  page-footer__blog">
          {% for article in blogs.news.articles limit: 1 %}
            <h3 class="page-footer__col-title">Последние новости</h3>
            {{ article.preview }}
            <a class="page-footer__blog-link" href="{{ blogs.test.url }}">
              Все новости
              <i class="fa  fa-angle-right"></i>
            </a>
          {% endfor %}
        </div>
        <div class="page-footer__main-col  page-footer__menu">
          <h3 class="page-footer__col-title">Навигация по сайту</h3>
          <ul class="page-footer__menu-list">
            {% for link in linklists.footer-nav.links limit:5 %}
              <li class="page-footer__menu-item"><a class="page-footer__menu-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="page-footer__main-col  page-footer__links">
          <h3 class="page-footer__col-title">Мы в соц сетях</h3>

          {% include 'social' %}

          <div class="page-footer__subscribe--slim">
            {% include 'subscribe--send-pulse' %}
          </div>
        </div>
      </div>
      <span class="page-footer__copyright">© Wadge.com, 2017</span>
    </div>
  </div>
</footer>